In [276]:
import pandas as pd
import fonctions
pd.options.display.max_columns = 150

In [277]:
df_objet = pd.read_sql_table('Objet', 'sqlite:///db.sqlite')
df_gare = pd.read_sql_table('Gare', 'sqlite:///db.sqlite')
df_meteo = pd.read_sql_table('Meteo', 'sqlite:///db.sqlite')
df_freq = pd.read_csv('Frequence', 'sqlite:///db.sqlite')

In [285]:
test = pd.melt(df_freq, id_vars=['id_gare'], var_name="date",  value_name="freq",value_vars=['2016_01', '2016_02','2016_03', '2016_04', '2016_05', '2016_06', '2016_07', '2016_08','2016_09', '2016_10', '2016_11', '2016_12', '2017_01', '2017_02','2017_03', '2017_04', '2017_05', '2017_06', '2017_07', '2017_08','2017_09', '2017_10', '2017_11', '2017_12', '2018_01', '2018_02','2018_03', '2018_04', '2018_05', '2018_06', '2018_07', '2018_08','2018_09', '2018_10', '2018_11', '2018_12', '2019_01', '2019_02','2019_03', '2019_04', '2019_05', '2019_06', '2019_07', '2019_08','2019_09', '2019_10', '2019_11', '2019_12', '2020_01', '2020_02','2020_03', '2020_04', '2020_05', '2020_06', '2020_07', '2020_08','2020_09', '2020_10', '2020_11', '2020_12', '2021_01', '2021_02','2021_03', '2021_04', '2021_05', '2021_06', '2021_07', '2021_08','2021_09', '2021_10', '2021_11', '2021_12'])
test["id_gare"] = test['id_gare'].apply(lambda x: "00" + str(x))

test['date'] = test['date'].apply(lambda x: str(x[:7]).replace("_", "-"))
test['date'] = pd.to_datetime(test['date'], format='%Y-%m')
test

           id_gare       date    freq
0       0087313759 2016-01-01    6849
1       0087381657 2016-01-01  575761
2       0087781278 2016-01-01  123873
3       0087741421 2016-01-01     652
4       0087586693 2016-01-01   15031
...            ...        ...     ...
213835  0087473116 2021-12-01    3050
213836  0087671487 2021-12-01    4550
213837  0087645101 2021-12-01       5
213838  0087191304 2021-12-01     121
213839  0087413385 2021-12-01  122705

[213840 rows x 3 columns]

In [279]:
df_objet['date'] = df_objet['date'].apply(lambda x: str(x[:7]))
df_objet['date'] = pd.to_datetime(df_objet['date'], format='%Y-%m')
df_objet

,recordid,gare_code_uic,type,nature,recordtype,date
0,58a368ee3212228ab38430494c2650cd6f06257d,0087413385,"Appareils électroniques, informatiques, appare...",Téléphone portable,Objet trouvé,2016-01-01
1,a8f201303b82fa047784aa573b684803eeb438af,0087384008,"Bagagerie: sacs, valises, cartables","Nécessaire, mallette de toilette, sac de maqui...",Objet trouvé,2016-01-01
2,6b15f8628906d14f933a3e91233acbd0b7fbb79f,0087391003,"Appareils électroniques, informatiques, appare...",Autres appareils et accessoires électroniques,Objet trouvé,2016-01-01
3,90432de5460f71c38de83362302235db545f018b,0087746008,Optique,Lunettes en étui,Objet trouvé,2016-01-01
4,c76a2ff3c986c9748db61f07687580ecb0af4b5a,0087722025,"Vélos, trottinettes, accessoires 2 roues","Casque (vélo, moto)",Objet trouvé,2016-01-01
...,...,...,...,...,...,...
481297,fee5e9002e275fc65800701143912b8d6e37e211,0087686006,"Appareils électroniques, informatiques, appare...",Téléphone portable,Objet trouvé,2021-12-01
481298,ef1f506126b1f9c11ef5bad8bd08666fa7c0e970,0087686006,"Bagagerie: sacs, valises, cartables",Sac à dos,Objet trouvé,2021-12-01
481299,9640315e51341e023ca6cebf39e762909cf56780,0087773002,"Porte-monnaie / portefeuille, argent, titres",Carte de crédit,Objet trouvé,2021-12-01
481300,354dc14fc16948959379af14062d1be9a5a82b8a,0087113001,"Bagagerie: sacs, valises, cartables",Sac à dos,Objet trouvé,2021-12-01
481301,35d557adcee4a1c1b0bbad4ee965e28f8379d02e,0087571000,"Vélos, trottinettes, accessoires 2 roues",Vélo,Objet trouvé,2021-12-01

In [280]:
oui = pd.merge(left=df_objet, right=test, how="left", left_on=["gare_code_uic", "date"],right_on=["id_gare", "date"])

In [281]:
oui = oui.drop_duplicates("recordid")

In [282]:
oui['date'] = pd.to_datetime(oui['date'])
oui.set_index('date', inplace=True)

In [283]:
oui

,recordid,gare_code_uic,type,nature,recordtype,id_gare,freq
date,,,,,,,
2016-01-01,58a368ee3212228ab38430494c2650cd6f06257d,0087413385,"Appareils électroniques, informatiques, appare...",Téléphone portable,Objet trouvé,0087413385,170481.0
2016-01-01,a8f201303b82fa047784aa573b684803eeb438af,0087384008,"Bagagerie: sacs, valises, cartables","Nécessaire, mallette de toilette, sac de maqui...",Objet trouvé,0087384008,21150100.0
2016-01-01,6b15f8628906d14f933a3e91233acbd0b7fbb79f,0087391003,"Appareils électroniques, informatiques, appare...",Autres appareils et accessoires électroniques,Objet trouvé,0087391003,10338843.0
2016-01-01,90432de5460f71c38de83362302235db545f018b,0087746008,Optique,Lunettes en étui,Objet trouvé,0087746008,415673.0
2016-01-01,c76a2ff3c986c9748db61f07687580ecb0af4b5a,0087722025,"Vélos, trottinettes, accessoires 2 roues","Casque (vélo, moto)",Objet trouvé,0087722025,1087198.0
...,...,...,...,...,...,...,...
2021-12-01,fee5e9002e275fc65800701143912b8d6e37e211,0087686006,"Appareils électroniques, informatiques, appare...",Téléphone portable,Objet trouvé,0087686006,12523145.0
2021-12-01,ef1f506126b1f9c11ef5bad8bd08666fa7c0e970,0087686006,"Bagagerie: sacs, valises, cartables",Sac à dos,Objet trouvé,0087686006,12523145.0
2021-12-01,9640315e51341e023ca6cebf39e762909cf56780,0087773002,"Porte-monnaie / portefeuille, argent, titres",Carte de crédit,Objet trouvé,0087773002,1048145.0
2021-12-01,354dc14fc16948959379af14062d1be9a5a82b8a,0087113001,"Bagagerie: sacs, valises, cartables",Sac à dos,Objet trouvé,0087113001,4348507.0
2021-12-01,35d557adcee4a1c1b0bbad4ee965e28f8379d02e,0087571000,"Vélos, trottinettes, accessoires 2 roues",Vélo,Objet trouvé,0087571000,681931.0

In [284]:
oui.groupby(['gare_code_uic', pd.Grouper(freq = 'y')]).agg(nb_objets = ('type' , 'count'), freq = ("freq", 'sum')).reset_index()

    gare_code_uic       date  nb_objets         freq
0      0087111849 2016-12-31        644  593156200.0
1      0087111849 2017-12-31        553  564844154.0
2      0087111849 2018-12-31        320  310795359.0
3      0087111849 2019-12-31        291  231158494.0
4      0087111849 2020-12-31         99   24663576.0
..            ...        ...        ...          ...
935    0087784009 2018-12-31        578  142379052.0
936    0087784009 2019-12-31        530  120969325.0
937    0087784009 2020-12-31        408   48350357.0
938    0087784009 2021-12-31        562  117556188.0
939    0087785006 2016-12-31          5      43245.0

[940 rows x 4 columns]