In [5]:
import pandas as pd
import sqlite3

# Read in SQLite databases
con = sqlite3.connect("../db.sqlite")
#Read the Table
df_weather = pd.read_sql("SELECT * from Meteo", con)
#close the connection
# con.close()

df_weather['date'] = pd.to_datetime(df_weather['date'])
df_weather.set_index('date', inplace=True)
df_weather_by_day = df_weather.groupby('code_dep').resample('D').mean().reset_index()
# df_weather_by_day = df_weather_by_day[df_weather_by_day['date'] == "2016-01-01"]
df_weather_by_day['date'] = df_weather_by_day['date'].dt.date
df_weather_by_day

      code_dep        date        lat      long       tc
0           05  2016-01-01  44.565667  6.502333   4.8250
1           05  2016-01-02  44.565667  6.502333   3.5750
2           05  2016-01-03  44.565667  6.502333   1.8625
3           05  2016-01-04  44.565667  6.502333   2.0000
4           05  2016-01-05  44.565667  6.502333   3.2375
...        ...         ...        ...       ...      ...
87675       91  2021-12-27  48.716833  2.384333  10.1875
87676       91  2021-12-28  48.716833  2.384333  11.2625
87677       91  2021-12-29  48.716833  2.384333  11.9500
87678       91  2021-12-30  48.716833  2.384333  13.3750
87679       91  2021-12-31  48.716833  2.384333  10.6250

[87680 rows x 5 columns]

In [102]:
df_weather_by_day.to_csv("../CSV/weather_by_dep_by_day.csv")

In [103]:

df_weather_by_week = df_weather.groupby('code_dep').resample('W').mean().reset_index()
df_weather_by_week['date'] = df_weather_by_week['date'].dt.date

      code_dep        date        lat      long         tc
0           05  2016-01-03  44.565667  6.502333   3.420833
1           05  2016-01-10  44.565667  6.502333   2.332143
2           05  2016-01-17  44.565667  6.502333  -0.328571
3           05  2016-01-24  44.565667  6.502333  -0.041071
4           05  2016-01-31  44.565667  6.502333   5.496429
...        ...         ...        ...       ...        ...
12555       91  2021-12-05  48.716833  2.384333   5.261818
12556       91  2021-12-12  48.716833  2.384333   5.603636
12557       91  2021-12-19  48.716833  2.384333   6.587500
12558       91  2021-12-26  48.716833  2.384333   5.100000
12559       91  2022-01-02  48.716833  2.384333  11.480000

[12560 rows x 5 columns]

In [104]:
df_weather_by_day.to_csv("../CSV/weather_by_dep_by_week.csv")

In [7]:

df_objects = pd.read_sql("SELECT * from Record", con)
Gares = pd.read_sql("SELECT * from Gare", con)

In [11]:
df_objects.head()

,recordid,gare_code_uic,type,nature,recordtype,date
0,58a368ee3212228ab38430494c2650cd6f06257d,0087413385,"Appareils électroniques, informatiques, appare...",Téléphone portable,Objet trouvé,2016-01-06T05:47:20+00:00
1,a8f201303b82fa047784aa573b684803eeb438af,0087384008,"Bagagerie: sacs, valises, cartables","Nécessaire, mallette de toilette, sac de maqui...",Objet trouvé,2016-01-06T07:02:52+00:00
2,6b15f8628906d14f933a3e91233acbd0b7fbb79f,0087391003,"Appareils électroniques, informatiques, appare...",Autres appareils et accessoires électroniques,Objet trouvé,2016-01-06T07:07:25+00:00
3,90432de5460f71c38de83362302235db545f018b,0087746008,Optique,Lunettes en étui,Objet trouvé,2016-01-06T07:55:24+00:00
4,c76a2ff3c986c9748db61f07687580ecb0af4b5a,0087722025,"Vélos, trottinettes, accessoires 2 roues","Casque (vélo, moto)",Objet trouvé,2016-01-06T08:32:13+00:00

In [10]:
Gares.head()

,uic_code,departement_libellemin,gare_regionsncf_libelle,gare_alias_libelle_noncontraint,adresse_cp,code_gare,lat,long
0,0087313759,Oise,REGION PICARDIE,Abancourt,60220,02266,49.685224,1.774306
1,0087481614,Loire-Atlantique,REGION PAYS DE LA LOIRE,Abbaretz,44170,01604,47.554643,-1.524416
2,0087317362,Somme,REGION PICARDIE,Abbeville,80100,02219,50.102210,1.824490
3,0087545269,Val-de-Marne,REGION DE PARIS RIVE GAUCHE,Ablon-sur-Seine,94480,01460,48.725468,2.419151
4,0087683656,Yonne,None,Accolay,89460,00773,NaN,NaN

In [37]:
Merge_obects_gare =  pd.merge(df_objects, Gares,how='inner', left_on ="gare_code_uic", right_on="uic_code")

In [54]:
objet_by_regions = Merge_obects_gare[['gare_regionsncf_libelle']]

In [58]:
objet_by_regions = objet_by_regions.groupby("gare_regionsncf_libelle")['gare_regionsncf_libelle'].count()
objet_by_regions.columns = ['region', 'n_objects']

In [62]:
objet_by_regions.to_csv("../CSV/objet_by_regions.csv")

In [63]:
objet_by_regions = pd.read_csv("../CSV/objet_by_region.csv")

In [65]:
objet_by_regions.columns = ['label', 'n']

In [66]:
objet_by_regions.to_csv("../CSV/objet_by_region.csv")

In [30]:
df_objects['date'] = pd.to_datetime(df_objects['date'])
df_objects.set_index('date', inplace=True)
df_objects = df_objects.groupby('code_dep').resample('D').mean().reset_index()
df_objects

df_objects['date'] = df_objects['date'].dt.date
df_objects

KeyError: 'code_dep'