In [116]:
import pandas as pd
import sqlite3

# Read in SQLite databases
con = sqlite3.connect("../db.sqlite")
#Read the Table
df_weather = pd.read_sql("SELECT * from Meteo", con)
#close the connection
# con.close()

df_weather['date'] = pd.to_datetime(df_weather['date'])
df_weather.set_index('date', inplace=True)
df_weather
#df_weather_by_day = df_weather.groupby('code_dep').resample('D').mean().reset_index()
#df_weather_by_day['date'] = df_weather_by_day['date'].dt.date
#df_weather_by_day

,id,nom_reg,nom_dept,lat,long,tc,code_dep,mois_de_l_annee
date,,,,,,,,
2016-01-31 21:00:00+00:00,bcef811f95e51cf26f06c76648551163e0a4ebca,Hauts-de-France,Nord,50.570000,3.097500,12.0,59,1
2016-01-31 21:00:00+00:00,16333dc244dd5777e1c66a08510ba8e3181ed460,Hauts-de-France,Somme,50.136000,1.834000,11.3,80,1
2016-01-31 18:00:00+00:00,b8604ed555e6cf17baddd98798d37f90abc6c888,Hauts-de-France,Nord,50.570000,3.097500,11.9,59,1
2016-01-31 18:00:00+00:00,9dcd958a7e47c91b3f1aad056276398119e9ce8e,Hauts-de-France,Somme,50.136000,1.834000,11.3,80,1
2016-01-31 15:00:00+00:00,1655532600386ccb57133ece9d1d32df8437fa65,Hauts-de-France,Nord,50.570000,3.097500,9.0,59,1
...,...,...,...,...,...,...,...,...
2021-12-01 03:00:00+00:00,8c19c1cbced424c8a162d864b6c66c3b275c7ede,Bretagne,Ille-et-Vilaine,48.068833,-1.734000,10.8,35,12
2021-12-01 00:00:00+00:00,be7e93132bb692995fee3e77b3a9371b1b453898,Bretagne,Finistère,48.444167,-4.412000,11.7,29,12
2021-12-01 00:00:00+00:00,2b9b9ac17b123e890d7cf11aa00840b9cf6c3670,Bretagne,Côtes-d'Armor,48.825833,-3.473167,11.3,22,12
2021-12-01 00:00:00+00:00,196da3fe8aebe33b541b4c73e370aaacb7a30213,Bretagne,Morbihan,47.294333,-3.218333,12.2,56,12
2021-12-01 00:00:00+00:00,63f7c08bfe4cfc72a030a6ba90ee6bb9946da888,Bretagne,Ille-et-Vilaine,48.068833,-1.734000,10.1,35,12

In [103]:

df_weather_by_week = df_weather.groupby('code_dep').resample('W').mean().reset_index()
df_weather_by_week['date'] = df_weather_by_week['date'].dt.date

      code_dep        date        lat      long         tc
0           05  2016-01-03  44.565667  6.502333   3.420833
1           05  2016-01-10  44.565667  6.502333   2.332143
2           05  2016-01-17  44.565667  6.502333  -0.328571
3           05  2016-01-24  44.565667  6.502333  -0.041071
4           05  2016-01-31  44.565667  6.502333   5.496429
...        ...         ...        ...       ...        ...
12555       91  2021-12-05  48.716833  2.384333   5.261818
12556       91  2021-12-12  48.716833  2.384333   5.603636
12557       91  2021-12-19  48.716833  2.384333   6.587500
12558       91  2021-12-26  48.716833  2.384333   5.100000
12559       91  2022-01-02  48.716833  2.384333  11.480000

[12560 rows x 5 columns]

In [104]:
df_weather_by_day.to_csv("../CSV/weather_by_dep_by_week.csv")

In [118]:
df_weather_by_month = df_weather.groupby('code_dep').resample('M').mean().reset_index()
df_weather_by_month['date'] = df_weather_by_month['date'].dt.date
df_weather_by_month.to_csv("../CSV/weather_by_dep_by_month.csv")

In [144]:
df_weather_by_week = df_weather.groupby('code_dep').resample('W').mean().reset_index()
df_weather_by_week['date'] = df_weather_by_week['date'].dt.date
df_weather_by_week.to_csv("../CSV/weather_by_dep_by_week.csv")

In [145]:
df_weather_by_year = df_weather.groupby('code_dep').resample('Y').mean().reset_index()
df_weather_by_year['date'] = df_weather_by_year['date'].dt.date
df_weather_by_year.to_csv("../CSV/weather_by_dep_by_year.csv")

In [148]:
df_weather_by_quarter = df_weather.groupby('code_dep').resample('Q').mean().reset_index()
df_weather_by_quarter['date'] = df_weather_by_quarter['date'].dt.date
df_weather_by_quarter.to_csv("../CSV/weather_by_dep_by_quarter.csv")

In [46]:

df_objects = pd.read_sql("SELECT * from Record", con)
Gares = pd.read_sql("SELECT * from Gare", con)

In [47]:
df_objects.head()

,recordid,gare_code_uic,type,nature,recordtype,date
0,58a368ee3212228ab38430494c2650cd6f06257d,0087413385,"Appareils électroniques, informatiques, appare...",Téléphone portable,Objet trouvé,2016-01-06T05:47:20+00:00
1,a8f201303b82fa047784aa573b684803eeb438af,0087384008,"Bagagerie: sacs, valises, cartables","Nécessaire, mallette de toilette, sac de maqui...",Objet trouvé,2016-01-06T07:02:52+00:00
2,6b15f8628906d14f933a3e91233acbd0b7fbb79f,0087391003,"Appareils électroniques, informatiques, appare...",Autres appareils et accessoires électroniques,Objet trouvé,2016-01-06T07:07:25+00:00
3,90432de5460f71c38de83362302235db545f018b,0087746008,Optique,Lunettes en étui,Objet trouvé,2016-01-06T07:55:24+00:00
4,c76a2ff3c986c9748db61f07687580ecb0af4b5a,0087722025,"Vélos, trottinettes, accessoires 2 roues","Casque (vélo, moto)",Objet trouvé,2016-01-06T08:32:13+00:00

In [48]:
Gares.head()

,uic_code,departement_libellemin,gare_regionsncf_libelle,gare_alias_libelle_noncontraint,adresse_cp,code_gare,lat,long
0,0087313759,Oise,REGION PICARDIE,Abancourt,60220,02266,49.685224,1.774306
1,0087481614,Loire-Atlantique,REGION PAYS DE LA LOIRE,Abbaretz,44170,01604,47.554643,-1.524416
2,0087317362,Somme,REGION PICARDIE,Abbeville,80100,02219,50.102210,1.824490
3,0087545269,Val-de-Marne,REGION DE PARIS RIVE GAUCHE,Ablon-sur-Seine,94480,01460,48.725468,2.419151
4,0087683656,Yonne,None,Accolay,89460,00773,NaN,NaN

In [49]:
Merge_obects_gare =  pd.merge(left = df_objects, right = Gares,how='left', left_on ="gare_code_uic", right_on="uic_code")

In [24]:
objet_by_regions = Merge_obects_gare[['gare_regionsncf_libelle']]

In [25]:
objet_by_regions = objet_by_regions.groupby("gare_regionsncf_libelle")['gare_regionsncf_libelle'].count()

In [26]:
objet_by_regions.to_csv("../CSV/objet_by_regions.csv")

In [38]:
objet_by_regions = pd.read_csv("../CSV/objet_by_region.csv")

In [39]:
objet_by_regions['label'] = objet_by_regions['label'].str.replace('REGION DE ', '')
objet_by_regions['label'] = objet_by_regions['label'].str.replace('REGION ', '')
objet_by_regions = objet_by_regions.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)
objet_by_regions

                         label      n
0                        ALPES  12395
1                       ALSACE  11264
2                     AUVERGNE   4436
3      BOURGOGNE FRANCHE-COMTE   5813
4                     BRETAGNE  11421
5                       CENTRE   8344
6            CHAMPAGNE-ARDENNE    369
7            PARIS RIVE GAUCHE   7995
8           PARIS SAINT-LAZARE   1341
9                    PARIS-EST   8388
10                  PARIS-NORD  32357
11               PARIS-SUD-EST  44893
12        LANGUEDOC-ROUSSILLON  15559
13                    LIMOUSIN   3958
14                    LORRAINE   8767
15               MIDI PYRENEES    424
16          NORD PAS DE CALAIS  24612
17                   NORMANDIE  10491
18            PAYS DE LA LOIRE  25086
19                    PICARDIE   2372
20  POITOU-CHARENTES AQUITAINE  36137
21  PROVENCE ALPES COTE D'AZUR  34558
22                 RHONE-ALPES  21931

In [40]:
objet_by_regions.to_csv("../CSV/objet_by_region.csv")

In [30]:
df_objects['date'] = pd.to_datetime(df_objects['date'])
df_objects.set_index('date', inplace=True)
df_objects = df_objects.groupby('code_dep').resample('D').mean().reset_index()
df_objects

df_objects['date'] = df_objects['date'].dt.date
df_objects

KeyError: 'code_dep'

In [44]:
def search_region(departement: str):
    # Merci GPT pour ce dictionnaire !
    regions = {
    "Auvergne-Rhône-Alpes": ["01", "03", "07", "15", "26", "38", "42", "43", "63", "69", "73", "74"],
    "Bourgogne-Franche-Comté": ["21", "25", "39", "58", "70", "71", "89", "90"],
    "Bretagne": ["22", "29", "35", "56"],
    "Centre-Val de Loire": ["18", "28", "36", "37", "41", "45"],
    "Corse": ["2A", "2B"],
    "Grand Est": ["08", "10", "51", "52", "54", "55", "57", "67", "68", "88"],
    "Hauts-de-France": ["02", "59", "60", "62", "80"],
    "Île-de-France": ["75", "77", "78", "91", "92", "93", "94", "95"],
    "Normandie": ["14", "27", "50", "61", "76"],
    "Nouvelle-Aquitaine": ["16", "17", "19", "23", "24", "33", "40", "47", "64", "79", "86", "87"],
    "Occitanie": ["09", "11", "12", "30", "31", "32", "34", "46", "48", "65", "66", "81", "82"],
    "Pays de la Loire": ["44", "49", "53", "72", "85"],
    "Provence-Alpes-Côte d'Azur": ["04", "05", "06", "13", "83", "84"],
    "Guadeloupe": ["971"],
    "Martinique": ["972"],
    "Guyane": ["973"],
    "La Réunion": ["974"],
    "Mayotte": ["976"]
    }
    for cle, valeur in regions.items():
        if departement in valeur:
            return str(cle)

In [53]:
Merge_obects_gare = Merge_obects_gare.dropna()
Merge_obects_gare['gare_regionsncf_libelle'] = Merge_obects_gare['adresse_cp'].apply(lambda x: search_region(str(x[:2])))

,recordid,gare_code_uic,type,nature,recordtype,date,uic_code,departement_libellemin,gare_regionsncf_libelle,gare_alias_libelle_noncontraint,adresse_cp,code_gare,lat,long
3,90432de5460f71c38de83362302235db545f018b,0087746008,Optique,Lunettes en étui,Objet trouvé,2016-01-06T07:55:24+00:00,0087746008,Haute-Savoie,Auvergne-Rhône-Alpes,Annecy,74000,00357,45.901965,6.121835
4,c76a2ff3c986c9748db61f07687580ecb0af4b5a,0087722025,"Vélos, trottinettes, accessoires 2 roues","Casque (vélo, moto)",Objet trouvé,2016-01-06T08:32:13+00:00,0087722025,Rhône,Auvergne-Rhône-Alpes,Lyon Perrache,69286,00553,45.748476,4.825733
5,cf34554fbe00a0ef4fc71ee154020cac5fad2452,0087317586,"Appareils électroniques, informatiques, appare...",Téléphone portable,Objet trouvé,2016-01-06T08:33:19+00:00,0087317586,Pas-de-Calais,Hauts-de-France,Boulogne-sur-Mer,62200,02210,50.715700,1.609640
6,eb010515dbb542ad116fe9bce680231818cdccb3,0087722025,"Bagagerie: sacs, valises, cartables","Sac d'enseigne (plastique, papier, …)",Objet trouvé,2016-01-06T08:34:26+00:00,0087722025,Rhône,Auvergne-Rhône-Alpes,Lyon Perrache,69286,00553,45.748476,4.825733
8,48ddd8bf36b90301c0a89f111004934fd5799281,0087722025,"Bagagerie: sacs, valises, cartables","Sac d'enseigne (plastique, papier, …)",Objet trouvé,2016-01-06T08:40:26+00:00,0087722025,Rhône,Auvergne-Rhône-Alpes,Lyon Perrache,69286,00553,45.748476,4.825733
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481294,ad6947926569cab29d0a06b0424bd2eb9e86274a,0087271494,"Bagagerie: sacs, valises, cartables","Valise, sac sur roulettes",Objet trouvé,2021-12-31T16:11:03+00:00,0087271494,Val-d'Oise,Île-de-France,Aéroport Charles de Gaulle 2 TGV,95716,02541,49.003652,2.570892
481297,fee5e9002e275fc65800701143912b8d6e37e211,0087686006,"Appareils électroniques, informatiques, appare...",Téléphone portable,Objet trouvé,2021-12-31T16:35:25+00:00,0087686006,Paris,Île-de-France,Paris Gare de Lyon,75012,00753,48.844888,2.373520
481298,ef1f506126b1f9c11ef5bad8bd08666fa7c0e970,0087686006,"Bagagerie: sacs, valises, cartables",Sac à dos,Objet trouvé,2021-12-31T16:59:39+00:00,0087686006,Paris,Île-de-France,Paris Gare de Lyon,75012,00753,48.844888,2.373520
481299,9640315e51341e023ca6cebf39e762909cf56780,0087773002,"Porte-monnaie / portefeuille, argent, titres",Carte de crédit,Objet trouvé,2021-12-31T17:02:32+00:00,0087773002,Hérault,Occitanie,Montpellier Saint-Roch,34011,00130,43.604738,3.880674
481300,354dc14fc16948959379af14062d1be9a5a82b8a,0087113001,"Bagagerie: sacs, valises, cartables",Sac à dos,Objet trouvé,2021-12-31T18:14:11+00:00,0087113001,Paris,Île-de-France,Paris Est,75010,03070,48.876742,2.358424

In [55]:
Merge_obects_gare.to_csv("../CSV/ALL_objects_gares.csv")

In [56]:
Merge_obects_gare = pd.read_csv("../CSV/ALL_objects_gares.csv")

In [59]:
objext_bar_region = Merge_obects_gare[['gare_regionsncf_libelle']]

In [60]:
objext_bar_region

       gare_regionsncf_libelle
0         Auvergne-Rhône-Alpes
1         Auvergne-Rhône-Alpes
2              Hauts-de-France
3         Auvergne-Rhône-Alpes
4         Auvergne-Rhône-Alpes
...                        ...
332906           Île-de-France
332907           Île-de-France
332908           Île-de-France
332909               Occitanie
332910           Île-de-France

[332911 rows x 1 columns]

In [74]:
objets_by_region = objext_bar_region.groupby('gare_regionsncf_libelle')['gare_regionsncf_libelle'].count()

In [81]:
objets_by_region.to_csv("../CSV/objects_par_region.csv")

In [79]:
objets_by_region = pd.read_csv("../CSV/objects_par_region.csv")

In [80]:
objets_by_region.columns = ['region', 'n']

In [123]:
Merge_obects_gare = pd.read_csv("../CSV/ALL_objects_gares.csv")
Merge_obects_gare['date'] = pd.to_datetime(Merge_obects_gare['date'])
Merge_obects_gare.set_index('date', inplace=True)
Merge_obects_gare

,Unnamed: 0,recordid,gare_code_uic,type,nature,recordtype,uic_code,departement_libellemin,gare_regionsncf_libelle,gare_alias_libelle_noncontraint,adresse_cp,code_gare,lat,long
date,,,,,,,,,,,,,,
2016-01-06 07:55:24+00:00,3,90432de5460f71c38de83362302235db545f018b,87746008,Optique,Lunettes en étui,Objet trouvé,87746008,Haute-Savoie,Auvergne-Rhône-Alpes,Annecy,74000,357,45.901965,6.121835
2016-01-06 08:32:13+00:00,4,c76a2ff3c986c9748db61f07687580ecb0af4b5a,87722025,"Vélos, trottinettes, accessoires 2 roues","Casque (vélo, moto)",Objet trouvé,87722025,Rhône,Auvergne-Rhône-Alpes,Lyon Perrache,69286,553,45.748476,4.825733
2016-01-06 08:33:19+00:00,5,cf34554fbe00a0ef4fc71ee154020cac5fad2452,87317586,"Appareils électroniques, informatiques, appare...",Téléphone portable,Objet trouvé,87317586,Pas-de-Calais,Hauts-de-France,Boulogne-sur-Mer,62200,2210,50.715700,1.609640
2016-01-06 08:34:26+00:00,6,eb010515dbb542ad116fe9bce680231818cdccb3,87722025,"Bagagerie: sacs, valises, cartables","Sac d'enseigne (plastique, papier, …)",Objet trouvé,87722025,Rhône,Auvergne-Rhône-Alpes,Lyon Perrache,69286,553,45.748476,4.825733
2016-01-06 08:40:26+00:00,8,48ddd8bf36b90301c0a89f111004934fd5799281,87722025,"Bagagerie: sacs, valises, cartables","Sac d'enseigne (plastique, papier, …)",Objet trouvé,87722025,Rhône,Auvergne-Rhône-Alpes,Lyon Perrache,69286,553,45.748476,4.825733
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31 16:11:03+00:00,481294,ad6947926569cab29d0a06b0424bd2eb9e86274a,87271494,"Bagagerie: sacs, valises, cartables","Valise, sac sur roulettes",Objet trouvé,87271494,Val-d'Oise,Île-de-France,Aéroport Charles de Gaulle 2 TGV,95716,2541,49.003652,2.570892
2021-12-31 16:35:25+00:00,481297,fee5e9002e275fc65800701143912b8d6e37e211,87686006,"Appareils électroniques, informatiques, appare...",Téléphone portable,Objet trouvé,87686006,Paris,Île-de-France,Paris Gare de Lyon,75012,753,48.844888,2.373520
2021-12-31 16:59:39+00:00,481298,ef1f506126b1f9c11ef5bad8bd08666fa7c0e970,87686006,"Bagagerie: sacs, valises, cartables",Sac à dos,Objet trouvé,87686006,Paris,Île-de-France,Paris Gare de Lyon,75012,753,48.844888,2.373520
2021-12-31 17:02:32+00:00,481299,9640315e51341e023ca6cebf39e762909cf56780,87773002,"Porte-monnaie / portefeuille, argent, titres",Carte de crédit,Objet trouvé,87773002,Hérault,Occitanie,Montpellier Saint-Roch,34011,130,43.604738,3.880674
2021-12-31 18:14:11+00:00,481300,354dc14fc16948959379af14062d1be9a5a82b8a,87113001,"Bagagerie: sacs, valises, cartables",Sac à dos,Objet trouvé,87113001,Paris,Île-de-France,Paris Est,75010,3070,48.876742,2.358424

In [132]:
objet_region_by_day = Merge_obects_gare.groupby('gare_regionsncf_libelle').resample('D').count()
objet_region_by_day = objet_region_by_day[['Unnamed: 0']]
objet_region_by_day.columns = ['n']
objet_region_by_day = objet_region_by_day.reset_index()
objet_region_by_day.columns = ['region', 'date', 'n']
objet_region_by_day['date'] = objet_region_by_day['date'].dt.date
objet_region_by_day.to_csv('../CSV/objects_by_region_by_day.csv')
objet_region_by_day

                     region        date   n
0      Auvergne-Rhône-Alpes  2016-01-01   6
1      Auvergne-Rhône-Alpes  2016-01-02  11
2      Auvergne-Rhône-Alpes  2016-01-03  10
3      Auvergne-Rhône-Alpes  2016-01-04  57
4      Auvergne-Rhône-Alpes  2016-01-05  20
...                     ...         ...  ..
26294         Île-de-France  2021-12-27  52
26295         Île-de-France  2021-12-28  36
26296         Île-de-France  2021-12-29  33
26297         Île-de-France  2021-12-30  41
26298         Île-de-France  2021-12-31  42

[26299 rows x 3 columns]

In [140]:
objet_region_by_week = Merge_obects_gare.groupby('gare_regionsncf_libelle').resample('W').count()
objet_region_by_week = objet_region_by_week[['Unnamed: 0']]
objet_region_by_week = objet_region_by_week.reset_index()
objet_region_by_week.columns = ['region', 'date', 'n']
objet_region_by_week['date'] = pd.to_datetime(objet_region_by_week['date'], errors='coerce')
objet_region_by_week['date'] = objet_region_by_week['date'].dt.date
objet_region_by_week.to_csv('../CSV/objects_by_region_by_week.csv')
objet_region_by_week

                    region        date    n
0     Auvergne-Rhône-Alpes  2016-01-03   27
1     Auvergne-Rhône-Alpes  2016-01-10  174
2     Auvergne-Rhône-Alpes  2016-01-17  135
3     Auvergne-Rhône-Alpes  2016-01-24  145
4     Auvergne-Rhône-Alpes  2016-01-31  156
...                    ...         ...  ...
3762         Île-de-France  2021-12-05  229
3763         Île-de-France  2021-12-12  282
3764         Île-de-France  2021-12-19  297
3765         Île-de-France  2021-12-26  202
3766         Île-de-France  2022-01-02  204

[3767 rows x 3 columns]

In [143]:
objet_region_by_month = Merge_obects_gare.groupby('gare_regionsncf_libelle').resample('M').count()
objet_region_by_month = objet_region_by_month[['Unnamed: 0']]
objet_region_by_month = objet_region_by_month.reset_index()
objet_region_by_month.columns = ['region', 'date', 'n']
objet_region_by_month['date'] = pd.to_datetime(objet_region_by_month['date'], errors='coerce')
objet_region_by_month['date'] = objet_region_by_month['date'].dt.date
objet_region_by_month.to_csv('../CSV/objects_by_region_by_month.csv')

In [146]:
objet_region_by_year = Merge_obects_gare.groupby('gare_regionsncf_libelle').resample('M').count()
objet_region_by_year = objet_region_by_year[['Unnamed: 0']]
objet_region_by_year = objet_region_by_year.reset_index()
objet_region_by_year.columns = ['region', 'date', 'n']
objet_region_by_year['date'] = pd.to_datetime(objet_region_by_year['date'], errors='coerce')
objet_region_by_year['date'] = objet_region_by_year['date'].dt.date
objet_region_by_year.to_csv('../CSV/objects_by_region_by_year.csv')

In [147]:
objet_region_by_quarter = Merge_obects_gare.groupby('gare_regionsncf_libelle').resample('Q').count()
objet_region_by_quarter = objet_region_by_quarter[['Unnamed: 0']]
objet_region_by_quarter = objet_region_by_quarter.reset_index()
objet_region_by_quarter.columns = ['region', 'date', 'n']
objet_region_by_quarter['date'] = pd.to_datetime(objet_region_by_quarter['date'], errors='coerce')
objet_region_by_quarter['date'] = objet_region_by_quarter['date'].dt.date
objet_region_by_quarter.to_csv('../CSV/objects_by_region_by_quarter.csv')

In [111]:
objet_region_by_week = Merge_obects_gare.groupby('gare_regionsncf_libelle').resample('W').sum().reset_index()
objet_region_by_week['date'] = objet_region_by_week['date'].dt.date
objet_region_by_week.to_csv("../CSV/objet_region_by_week.csv")
objet_region_by_week

     gare_regionsncf_libelle        date           lat        long
0       Auvergne-Rhône-Alpes  2016-01-03   1236.864503  136.619929
1       Auvergne-Rhône-Alpes  2016-01-10   7957.584631  885.376488
2       Auvergne-Rhône-Alpes  2016-01-17   6172.157657  703.319337
3       Auvergne-Rhône-Alpes  2016-01-24   6627.548401  749.537776
4       Auvergne-Rhône-Alpes  2016-01-31   7133.906279  793.905438
...                      ...         ...           ...         ...
3762           Île-de-France  2021-12-05  11190.019603  546.433819
3763           Île-de-France  2021-12-12  13781.808971  662.066385
3764           Île-de-France  2021-12-19  14513.936266  703.558816
3765           Île-de-France  2021-12-26   9869.932971  477.567313
3766           Île-de-France  2022-01-02   9967.789926  484.575408

[3767 rows x 4 columns]

In [116]:
objet_region_by_year = Merge_obects_gare.groupby('gare_regionsncf_libelle').resample('Y').sum().reset_index()
objet_region_by_year['date'] = objet_region_by_year['date'].dt.date
objet_region_by_year.to_csv("../CSV/objet_region_by_year.csv")
objet_region_by_year

   gare_regionsncf_libelle        date            lat          long
0     Auvergne-Rhône-Alpes  2016-12-31  373487.384359  41559.476177
1     Auvergne-Rhône-Alpes  2017-12-31  372157.519292  40722.124231
2     Auvergne-Rhône-Alpes  2018-12-31  289816.426852  31585.641610
3     Auvergne-Rhône-Alpes  2019-12-31  306237.020434  33813.190187
4     Auvergne-Rhône-Alpes  2020-12-31  170629.756624  18901.316707
..                     ...         ...            ...           ...
67           Île-de-France  2017-12-31  907596.119072  44167.646710
68           Île-de-France  2018-12-31  841647.180966  40891.963980
69           Île-de-France  2019-12-31  844580.718404  40989.375830
70           Île-de-France  2020-12-31  422436.635260  20512.732078
71           Île-de-France  2021-12-31  500771.376021  24349.324921

[72 rows x 4 columns]

In [119]:
objet_region_by_year = Merge_obects_gare.groupby('gare_regionsncf_libelle').resample('Y').sum().reset_index()
objet_region_by_year['date'] = objet_region_by_year['date'].dt.date
objet_region_by_year.to_csv("../CSV/objet_region_by_year.csv")
objet_region_by_year

ValueError: cannot insert gare_regionsncf_libelle, already exists